<% layout('layouts/boilerplate')%>
<!-- <div style="border: 2px solid black; width: 600px; height: 600px;">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-6" style="background-color: blueviolet; width: 70px; height: 70px;"></div>
        <div class="col-sm-6" style="background-color: cadetblue; width: 70px; height: 70px;"></div>
    </div>
</div> -->

<div class="fluid-container" id="fluid-container"> 
    
    <div id="wrap-container">
        <div id="forecast-nav">
            <ul class="pt-2" id="forecast-nav-ul">
                <li ><a class="forecast-nav-listItem" href="">Current</a></li>
                <li ><a  class="forecast-nav-listItem" href="">Daily</a></li>
                <li ><a class="forecast-nav-listItem" href="">hourly</a></li>
            </ul>
        </div>  
        <div id="content-container" class="row">
            <div id="content" class="col-xs-9 col-sm-10">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero soluta sit minima incidunt! Animi quam quisquam modi, ducimus sit aliquid itaque quibusdam eum. Dolores, non minus? Consequatur aliquam recusandae, itaque aut voluptatum nihil libero omnis maiores. Ex, nesciunt hic libero quae deleniti architecto, pariatur molestias quisquam veniam voluptates dolore provident quo minus laboriosam, aliquid ea autem? Possimus repudiandae cum optio commodi laudantium quasi distinctio quam vero omnis iste magni quo doloremque dolores, illo enim quaerat reprehenderit, reiciendis atque minima architecto laborum pariatur ea! Qui quas dignissimos dolores id consectetur vero nulla aspernatur. Iste voluptatem, voluptatibus illum eius nesciunt culpa laboriosam consectetur natus nobis, mollitia soluta temporibus repellendus sint facilis ea voluptas accusamus nisi quis enim at, consequuntur quas? Maiores exercitationem ex praesentium nesciunt eos esse nobis laboriosam quisquam doloremque unde, obcaecati voluptatum placeat est inventore ducimus illum non natus, labore, tenetur nihil voluptates dignissimos modi cumque mollitia! Tempora, maiores placeat error a quis explicabo obcaecati autem quod nam accusamus! Et ad dicta molestiae soluta, esse beatae magnam sequi voluptates nemo omnis nobis libero sapiente, voluptatum, accusantium ex maxime itaque. Et tempore voluptates optio nesciunt quisquam, sit ab explicabo culpa aliquid earum consectetur perspiciatis reprehenderit quae aut? Fuga molestias, bus laboriosam quo consequatur ipsam repellendus at eum natus. Rerum nemo commodi accusantium blanditiis provident Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum dolor ducimus explicabo beatae, numquam obcaecati consequatur deserunt harum ratione laboriosam minus possimus? Exercitationem ut, totam velit dolores aperiam illum aliquid repudiandae architecto et minima, sunt nisi voluptatibus vero sapiente quasi repellendus officiis vitae iusto temporibus ex, maxime reiciendis similique. Similique saepe adipisci nihil. Recusandae iste in est velit eveniet aspernatur amet porro doloremque nemo corrupti at quo sequi modi neque adipisci ad reprehenderit sint, animi, praesentium reiciendis architecto dignissimos eaque nobis aperiam! Nam porro inventore eaque! Nemo, tempora voluptatum sit harum enim nisi nesciunt fuga corporis repellendus voluptatibus quisquam! laudantium maiores consequatur non minus, ratione recusandae autem error facere architecto iure consequuntur incidunt excepturi dolorum veritatis quidem modi, similique consectetur saepe atque? Eos architecto repellendus culpa facilis officiis asperiores voluptates a molestias at quidem amet ipsam, adipisci eius ab laborum odio ipsa vero temporibus libero assumenda. Ipsa dolorum nisi reiciendis soluta fugit neque aspernatur quibusdam magni, est sunt porro autem sequi? Dicta facere nemo quae neque eius quibusdam consectetur consequuntur perferendis, tenetur temporibus dolor minus. Obcaecati esse facilis, nihil iure voluptate saepe sint consequuntur a nemo ratione quas nobis distinctio laboriosam in. Necessitatibus quo voluptatem quis, error vero libero, culpa quod magni ducimus cum laboriosam nobis praesentium! Ullam quia, debitis obcaecati sint, aut quis amet cum at quibusdam nemo voluptas ea aliquam non fugiat consequuntur sed. Pariatur aperiam earum magni excepturi fugit, eaque ab perferendis molestiae minus corrupti provident possimus laborum explicabo autem eveniet ea recusandae quasi necessitatibus deserunt veniam repellat commodi fuga expedita! Nesciunt eos minus pariatur consequuntur aliquid maxime autem, accusantium nostrum tempora deserunt suscipit vitae eius soluta dolorem labore unde neque nam id ut fugiat. Corporis, nostrum blanditiis vero minus in earum illo nam voluptas culpa, et voluptatem. Ipsam et dolorum labore qui nulla accusantium reprehenderit odio unde sed beatae. Recusandae fugiat, eos non optio autem sequi reiciendis aut consectetur tempora voluptates ducimus excepturi accusamus aperiam facilis, dignissimos soluta ratione delectus alias quisquam totam eius. Dicta dolore cumque quam optio aut culpa dolores, non ea, pariatur maiores alias perspiciatis deserunt sed commodi! Rerum nobis ducimus quisquam neque velit, ut incidunt?</p>
            </div>
            <div id="my-profile" class="col-xs-3 col-sm-2">
                <div id="profile-sidebar">
                    <div id="profile-content">
                        <div id="profile-with-padding">
                            <div id="one">
                                <div class="img-fluid text-center" id="img"><img id="profile-img" src="https://media-exp1.licdn.com/dms/image/C5103AQHvHhyU-nz-aQ/profile-displayphoto-shrink_800_800/0/1578508782904?e=1623283200&v=beta&t=2L0qKxrT1TuQrj3hEyogeD_aRXS-qdmrqI7wRd6AC-Y" alt="">
                                    <div>Web Developer</div>
                                </div>
                                <div class="text-center" id="mywebsite-link">
                                    <a href="#" class="icon"><i class="fab fa-github-square"></i></a>
                                    <a href="#" class="icon px-sm-1 px-lg-3"><i class="fab fa-instagram"></i></a>
                                    <a href="#" class="icon"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            
                            
                            <div id="two">
                                <div id="popular-city-list" class="mt-5">  
                                    <span>Around the World</span>
                                    <hr>
                                    <ul id="city-list">
                                        <li><a class="city-list-item" href="">New York</a></li>
                                        <li><a class="city-list-item" href="">Los Angeles</a></li>
                                        <li><a class="city-list-item" href="">Chicago</a></li>
                                        <li><a class="city-list-item" href="">Seattle</a></li>
                                        <li><a class="city-list-item" href="">Washington</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

