<% layout('layouts/boilerplate')%>
<div class="container" style="background-color: cadetblue;">
    <div class="row" id="newsfeed-row">           
        <%for(let news_item of news){%>
            <div class="col-md-6 newsfeed-flex-container">
                <a href="<%= news_item.short_url%>" style="text-decoration: none;">
                    <div class="newsfeed" id="news">
                        <div class="news-img">
                            <% for(let multimedia of news_item.multimedia){ %>
                                <% if(multimedia.format == "Normal"){ %>
                                    <img src="<%= multimedia.url %>" alt="image not found">
                                <% } %>  
                            <% } %>
                        </div>
                        <div class="news-headlines">
                            <%= news_item.abstract %>
                        </div>
                    </div>
                </a>
            </div>
        <%}%>            
    </div>
</div>
    




