* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-weight: normal;
}

html,body{
    background-image: url('vendors/img/takahiro-taguchi-8F59AdH6WKk-unsplash.jpg');
    /* background-color: rgb(85, 243, 243); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(48, 48, 48);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
#upDownBtn{
    justify-items: right;
}
.material-icons {
    font-size: 200%;
}

/* Navbar */
#nav_container{
    display: none;
}
#logo{
    width: 45px;
    height: 45px;
}

/* body */
.main_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}


.flex_outer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city_name{
    color: cornsilk;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 300%;
    margin: 3% auto 2% auto;
}

.container{
    align-self: center;
    width: 500px;
    max-height: 500px;
    padding: 1%;
    margin: 1%;
    box-shadow:1px 1px 5px 5px rgba(68, 68, 68, 0.45);
    background-color: rgb(240, 240, 240);
    display: inline-block;
    display: flex;
    flex-direction: column;
    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.3s; /* don't forget to set a duration! */
}

/* card header */
.card_header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 300%;
    height: 15%;
}

.name{
    vertical-align: baseline;
}

.date{
    color: #666c72;
    vertical-align: baseline;
}

/* card content */
.card_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
}

/* forecast_container */
.forecast_container{
    display: flex;
    flex-direction: row;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
}

.weather_icon img{
    width: 70px;
    height: 70px;
}

.temperature_farenheit{
    font-size: 350%;
}

/* detailed_weather */
.detailed_weather{
    width: 50%;
    justify-content: center;
}

#more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12, #more13 {
    display: none;
    cursor: pointer;
}

.temperature_celcius{
    display: none;
    font-size: 350%;
} 
























