*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    color: rgb(65, 65, 65);
}

/* ======================================================================= */
/* =========================index page================================= */
/* ======================================================================= */
.index-container{
    background-color: white;
}
.black {
    background-color: black;
}

/* ======================================================================= */
/* ====================current-forecast-section=========================== */
/* ======================================================================= */
.forecast-news-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.forecast-section{
    width: 90%;
}
.news-section{
    /* background-color: rgb(223, 220, 217); */
    height: 400px;
    width: 90%;
}
.city-name{
    text-align: center;
    font-size: 250%;
    margin:2% 0% 2% 0%;
}
.forecast-box{
    /* background-color: pink; */
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0% 2% 2% 2%;
    box-shadow: 0.5px 0.5px 5px #5e5d5d;
}
.date-box{
    /* background-color: greenyellow; */
    height: 10%;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
}
.temp-img-box{
    /* background-color: royalblue; */
    height: 60%;
    display: flex;
    justify-content: center;
}
.detailed-box{
    /* background-color: seagreen; */
    height: 30%;
}

.img-box{
    /* background-color: hotpink; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: space-between; */
}
.img-box img{

    height: 70px;
    width: 70px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.name, .wind-speed{
    font-size: 110%;
}
.temp-box{
    /* background-color: rgb(139, 75, 46); */
    width: 50%;
    display: flex;
    justify-content: center;
}
.temp,.degree{
    font-size: 600%;
}
.detailed-box{
    display: flex;
    padding: 2%;
}
/* ------------------------------------------------------------------------ */
/*--------------------btns for programs route (reUsable) -------------------*/
/* ------------------------------------------------------------------------ */
.btn-program {
    background-color: #8ac6d1;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    /* border: 2px solid ; */
}

.btn-program:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.icon-small {
    /* color: #32afa9; */
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    /* margin-right: 10px; */
    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}




/* ------------------------------------------------------------------------ */
/*--------------------news section -------------------*/
/* ------------------------------------------------------------------------ */
/* .news-section{
    height: 400px;
    width: 90%;
} */
.news-section{
    display: flex;
    height: 320px;
    padding: 2%;
    margin-top: 2%;
    box-shadow: 0.5px 0.5px 5px #5e5d5d;
    padding: 5%;
    margin-bottom:5% ;
}
.newsfeed{
    display: flex;
    flex-direction: column;
}
.news-link{
    text-decoration: none;
    color: rgb(65, 65, 65);
}
.news-img{
    display: flex;
    justify-content: center;
}
.news-img img{
    border-radius: 10%;
    width: 130px;
    height: 130px;
}
.news-headlines{
    padding: 3%;
}


/* ======================================================================= */
/* =========================myProfile page================================= */
/* ======================================================================= */
.myProfile-section{
    /* background-color: rgb(120, 186, 189); */
    width: 40%;
    height: 400px;
    margin: 15% 0 0 1%;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 5px #5e5d5d;

}
.profile-img-section{
    /* background-color: rgb(214, 207, 202); */
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(65, 65, 65);
}
.profile-title{
    display: flex;
    justify-content: center;
    padding: 5%;
}
.mywebsite-link{
    display: flex;
    justify-content: center;
}
.mywebsite-link i{
    font-size: 200%;
}
.profile-icon{
    text-decoration: none;
    color: rgb(65, 65, 65);
}
.buy-coffee-btn{
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.buy-coffee-btn a{
    font-size: 70%;
    padding: 10px 12px;
}


/* navbar */
/* .logo-title {
    color: #8ac6d1;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 3px #8ac6d1;
} */

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgb(65, 65, 65);
    margin-left: 2rem;
}

.nav-link:hover {
    color: black;
    /* text-shadow: 2px 2px 1px rgb(170, 167, 167); */
    /* transition: 0.1s ease-in; */
    /* border-bottom: 1rem solid transparent #8ac6d1; */
}
.nav-search-form{
    padding-left: 1rem;
}



















/*big tablet to big screen:width 768px to 1023px  */
@media only screen and (max-width:1200px) {
    .forecast-box{
        height: 50%;
        width: 90%;
    }
}
  
/*small tablet to big tablet:width 768px to 1023px  */
@media only screen and (max-width:1023px) {
    
}
  
/*small phones to small tablet:width 481px to 767px */
@media only screen and (max-width:768px) {
    
}


/*small tablet to big tablet:width 768px to 1023px  */
@media only screen and (max-width:480px) {
    .index-container{
        margin: 0% 0% 0% 0%;
    }
    .city-name{
        font-size: 250%;
        margin:10% 0% 10% 0%;
    }
    .forecast-box{
        height: 50%;
        width: 90%;
    }
}
