*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#fluid-container{
    background-color: rgb(104, 240, 240);
}
#wrap-container{
    background-color: rgb(179, 219, 216);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
#forecast-nav{
    background-color: rgb(121, 158, 156);
    height: 40px;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
}
#forecast-nav-ul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style: none;
}
.forecast-nav-listItem{
    text-decoration: none;
    color: black;
}
.forecast-nav-listItem:hover{
    border-bottom: 1px rgb(204, 204, 214) solid;
    color: white;
}

/* bootstrap class m-sm-4 will add margin of 4 when screen size is sm or larger else...for extra small , margin will be 2% */
#content-container{
    /* background-color: rgb(192, 164, 192); */
    margin: 2%;
}

#content{
    /* background-color: rgb(217, 230, 107); */
}

#my-profile{
    /* background-color: rgb(223, 105, 105);  */
    position: relative;
}
#profile-sidebar{
    position: absolute;
    top: 0;
    left: 0;
}
#profile-content{
    position: fixed;
    background-color: rgb(189, 162, 142);
    height: 520px;
    width: 16%;
}
#profile-with-padding{
    display: flex;
    flex-direction: column;
    padding: 2%;
    
}
#img{
    margin-bottom: 5%;
}
#profile-img{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
}
#mywebsite-link{
   
}
.icon{
    font-size: 170%;
    text-decoration: none;
    color: black;
}
.icon:hover{
    color: rgb(255, 187, 187);
}

#city-list{
    list-style: none;
}
.city-list-item{
    text-decoration: none;
    color: black;
}
.city-list-item:hover{
    border-bottom: 1px rgb(204, 204, 214) solid;
    color: white;
}

.hourly{
    background-color: chocolate;

}








/*big tablet to big screen:width 768px to 1023px  */
@media only screen and (max-width:1200px) {
    
}
  
/*small tablet to big tablet:width 768px to 1023px  */
@media only screen and (max-width:1023px) {
    #forecast-nav-ul{
        width: 30%;
    }

}
  
/*small phones to small tablet:width 481px to 767px */
@media only screen and (max-width:767px) {
    #forecast-nav-ul{
        width: 40%;
    }
    .icon{
        font-size: 120%;
    }
}

@media only screen and (max-width:573px) {
    #my-profile{
        display: none; 
    }
}

/*small tablet to big tablet:width 768px to 1023px  */
@media only screen and (max-width:480px) {
    #forecast-nav-ul{
        width: 60%;
    }
    #content-container{
        margin: 5%;
    }
}
