*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
}

/* ======================================================================= */
/* =========================index page================================= */
/* ======================================================================= */

.index-container{
    /* background-color: slateblue; */
    height: 100vh;
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.city-name{
    /* background-color: springgreen; */
    font-size: 250%;
    margin:5% 0% 5% 0%;
}
.forecast-box{
    background-color: pink;
    height: 300px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0% 2% 2% 2%;
    box-shadow: 1px 1px 5px #5e5d5d;
}
.date-name-box{
    /* background-color: greenyellow; */
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.temp-img-box{
    /* background-color: royalblue; */
    height: 60%;
    display: flex;
    justify-content: center;
}
.detailed-box{
    /* background-color: seagreen; */
    height: 30%;
}
.temp-box{
    /* background-color: rgb(139, 75, 46); */
    width: 50%;
    display: flex;
    /* justify-content: center; */
}
.img-box{
    /* background-color: rgb(255, 116, 116); */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box img{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp{
    font-size: 700%;
}
.degree{
    font-size: 700%;
}
.detailed-box{
    display: flex;
    padding: 2%;
}



/*big tablet to big screen:width 768px to 1023px  */
@media only screen and (max-width:1200px) {
    .forecast-box{
        height: 50%;
        width: 90%;
    }
}
  
/*small tablet to big tablet:width 768px to 1023px  */
@media only screen and (max-width:1023px) {
    
}
  
/*small phones to small tablet:width 481px to 767px */
@media only screen and (max-width:768px) {
    
}


/*small tablet to big tablet:width 768px to 1023px  */
@media only screen and (max-width:480px) {
    .index-container{
        margin: 0% 0% 0% 0%;
    }
    .city-name{
        font-size: 250%;
        margin:10% 0% 10% 0%;
    }
    .forecast-box{
        height: 50%;
        width: 90%;
    }
}
